<h2 class="text-white text-center display-4 fw-bold">Corsi disponibili</h2>

<!-- se il booleano isFetching è ancora true, vuol dire che la pagina non ha ancora concluso la chiamata GET -->
@if(isFetching()){
<p class="text-white">caricamento in corso...</p>

}@else{

<!-- creazione di un container che conterrà le card dei vari corsi() -->
<div class="container-fluid">

    <div class="row">
        @for (c of corsi() ?? []; track c.id) {
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <app-corso [corso]="c" (selectCorso)="handleBooking($event)"></app-corso>
        </div>
        }
    </div>

</div>

<!-- se il corso è selezionato dal figlio, allora verrà mostrata la modale per la prenotazione del "selectedCorso" -->
@if(selectedCorso()){
<app-modale-prenotazione [corso]="selectedCorso()"></app-modale-prenotazione>
}

}