<!-- modale aperta quando viene cliccato il bottone "crea corso" -->

<div class="modal fade" id="creazioneModal" tabindex="-1" aria-labelledby="creazioneModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="creazioneModal">
                    Crea un nuovo corso!
                </h4>
            </div>
            <div class="modal-body">

                <p>ciao da mettere il form per la creazione di modale</p>
            </div>
        </div>
    </div>
</div>

<!-- bottone per fare una POST che permetta di aprire la modale per la creazione di un nuovo corso -->
<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#creazioneModal">Crea nuovo corso</button>