<!-- mini hero di introduzione -->
<div class="container text-center text-white">
    <h1 class="display-5 fw-bold">Chi siamo</h1>
    <p class="fs-5">La nostra missione è aiutarti a raggiungere i tuoi obiettivi di fitness.</p>
</div>

<!-- sezione introduttiva -->
<main class="container my-5 text-white">

    <section class="mb-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-white">La nostra storia</h2>
                <p>
                    angFitness è nata dalla passione per il fitness e la salute. Con anni di esperienza nel settore, il
                    nostro team è
                    impegnato a fornire servizi di alta qualità e corsi personalizzati per soddisfare le esigenze di
                    tutti, dai principianti agli atleti professionisti.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/allenamento.jpg" width="500px" alt="Allenamento" class="img-fluid rounded shadow">
            </div>
        </div>
    </section>

    <br>
    <hr>

    <!-- sezione team -->
    <section>
        <h2 class="text-center text-white mb-4">Il nostro team</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/giulia.jpg" alt="Team Member 1" class="team-photo mb-3 shadow">
                <h5>Giulia Rossi</h5>
                <p>Personal Trainer</p>
            </div>
            <div class="col-md-4">
                <img src="/marco.jpg" alt="Team Member 2" class="team-photo mb-3 shadow">
                <h5>Marco Bianchi</h5>
                <p>Nutrizionista</p>
            </div>
            <div class="col-md-4">
                <img src="/elena.jpg" alt="Team Member 3" class="team-photo mb-3 shadow">
                <h5>Elena Verdi</h5>
                <p>Insegnante di Yoga</p>
            </div>
        </div>
    </section>

    <br>
    <hr>

    <!-- sezione contatti -->
    <section>
        <h2 class="text-center text-white mb-4">Contattaci</h2>
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h5>Email</h5>
                <p>infoAngfitness.com</p>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h5>Telefono</h5>
                <p>+39 012 345 6789</p>
            </div>
        </div>
    </section>
</main>