<h2 class="text-danger mt-5">Home</h2>

<!-- se il booleano isFetching è ancora true, vuol dire che la pagina non ha ancora concluso la chiamata GET -->
@if(isFetching()){
<p>Caricamento in corso...</p>

}@else {

<div class="container mt-4">
    <div class="row">

        @for (c of corsi() ?? []; track c.id) {
        <div class="col-md-4 mb-4">
            <app-corso [corso]="c" (selectCorso)="handleBooking($event)"></app-corso>
        </div>
        }
    </div>
</div>

@if(selectedCorso()){
<app-modale-prenotazione [corso]="selectedCorso()"></app-modale-prenotazione>
}

}