<!--! IMPORTANTE STIAMO USANDO I SIGNALS IN QUESTO ESERCIZIO!! -->

<h2>Utenti</h2>


<!-- variabile BOLLEANA che se è true renderizza il ngOnInit che mette nella UI gli utenti -->
@if (!isFetching()) {
<div>Caricamento dei dati in corso....</div>

} @else {
<!-- 
nullish operator, restituisce un array vuoto nel caso in cui il mio valore utenti() risulti undefined
let valori = [1,2,3] ?? [] ->> [1,2,3]
let valori = undefined ?? [] ->> []
-->
@for (utente of utenti() ?? []; track $index) {
<app-utente [utente]="utente" (selectUser)="onSelectedUser($event)"></app-utente>
}
}

<h2>Utenti Preferiti</h2>
<app-utenti-preferiti></app-utenti-preferiti>